<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index Page</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/index.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" defer></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.3/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<body>
    <div>
        <%- include('main-nav') %> 
    </div>
    <div>
        <h1 class="header-text" id="Welcome-header">Welcome <%= name %>!</h1>
        <h4 class="header-text">Current Bookings</h4>
        <div class="row justify-content-center round">
            <div class="col-auto shadow">
                <table class="table table-hover table-responsive">
                    <thead class="table-header">
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Activity</th>
                            <th scope="col">Facility</th>
                            <th scope="col">Confirmed</th>
                            <th scope="col">Group Size</th>
                            <th scope="col">Date</th>
                            <th scope="col">Start Time</th>
                            <th scope="col">End Time</th>
                            <th scope="col">  </th>
                        </tr>
                    </thead>
                    <tbody>
                        <% for(var i = 0; i < userBookings.length; i++) { %>
                        <tr>
                            <td scope="row"><%= i+1 %></td>
                            <td><%= activities[i] %></td>
                            <td><%= facilities[i] %></td>
                            <% if(userBookings[i].status == 'completed') { %>
                                <td class="status-confirmed"><%= userBookings[i].status.charAt(0).toUpperCase() + userBookings[i].status.slice(1)%></td>
                            <% } %>
                            <% if(userBookings[i].status == 'waitlisted') { %>
                                <td class="status-waitlisted"><%= userBookings[i].status.charAt(0).toUpperCase() + userBookings[i].status.slice(1)%></td>
                            <% } %>
                            <td ><%= userBookings[i].group_size %></td>
                            <td><%= userBookings[i].booking_date.toDateString().split("00:00:00 GMT+0530 (India Standard Time)")[0] %></td>
                            <td><%= userBookings[i].start_hour %></td>
                            <td><%= userBookings[i].end_hour %></td>
                            <td class="actions-cell">
                                <img class="dots-svg" src="svgs/three-dots-vertical.svg" alt="Actions" id="context-menu-btn">
                            </td>
                        </tr>
                        <% }; %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div id="context-menu">
        <ul class="dropdown-menu d-block position-static mx-0 shadow w-220px" data-bs-theme="light" style="justify-content: left;">
            <li>
              <a class="dropdown-item d-flex gap-2 align-items-center" href="#">
                <svg class="bi" width="16" height="16"><use xlink:href="svgs/pencil-fill.svg"></use></svg>
                Edit
              </a>
            </li>
            <li>
              <a class="dropdown-item d-flex gap-2 align-items-center" href="#">
                <svg class="bi" width="16" height="16"><use xlink:href="#image-fill"></use></svg>
                Delete
              </a>
            </li>
            <li>
              <a class="dropdown-item d-flex gap-2 align-items-center" href="#">
                <svg class="bi" width="16" height="16"><use xlink:href="#film"></use></svg>
                Full Details
              </a>
            </li>
        </ul>
    </div>
    <script src="js/context-menu.js"></script>
</body>
</html>

